{% extends "base.html" %}
{% block main_content %}
    {% load static %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-around">
                <h1>Preencha seus dados</h1>
                <a href="/cadatra_fornecedor"> Cria uma conta de fornecedor ></a>
            </div>
        </div>
                    <form>
                        <div class="form w-100 p-2 my-3 d-flex flex-column px-5 justify-content-around align-items-center">
                            <div class="row">
                                    <div class="col-12 col-sm-6 d-flex flex-column p-0 m-0">
                                        <span class="form-span">Nome</span>
                                        <input class="form-input mr-3 border-style-none" type="text" name="nome"  placeholder="" required>
                                    </div>
                                    <div class="col-12 col-sm-6 d-flex flex-column p-0 m-0">
                                        <span class="form-span">Sobrenome</span>
                                        <input class="form-input mr-3 border-style-none" type="text" name="sobrenome"  placeholder="" required>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-12 d-flex flex-column p-0 m-0">
                                    <span class="form-span">CPF</span>
                                    <input class="form-input mr-3 border-style-none" type="text" name="cpf"  placeholder="" required>
                                </div>
                            </div>
                        </div>
                    </form>

            

        </div>
        <div class="row">

        </div>
        
    </main>
{% endblock %}