{% extends "base.html" %}
{% block main_content %}
    {% load static %}
    <main class=" cadastra container-fluid d-flex flex-column justify-content-center w-50 my-5">
        <div class="row">
            <div class="col-6 col-sm-6 d-flex justify-content-start py-3">
                <h1>Preencha os seus dados</h1>
            </div>
            <div class="col-6 col-sm-6 d-flex justify-content-end py-3">
                <a href="/cadastra-fornecedor"> Cria uma conta de fornecedor ></a>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="form p-2 d-flex flex-column justify-content-around align-items-center">
                <div class="row w-100">
                        <div class="col-12 col-sm-6 d-flex flex-column p-3 m-0">
                            <span class="form-span">Nome</span>
                            <input class="form-input mr-3 border-style-none" type="text" name="first_name"  placeholder="" required>
                        </div>
                        <div class="col-12 col-sm-6 d-flex flex-column p-3 m-0">
                            <span class="form-span">Sobrenome</span>
                            <input class="form-input mr-3 border-style-none" type="text" name="last_name"  placeholder="" required>
                        </div>
                </div>
                <div class="row w-100">
                    <div class="col-12 col-sm-6 d-flex flex-column p-3 m-0">
                        <span class="form-span">CPF</span>
                        <input class="form-input mr-3 border-style-none" type="text" name="cpf"  placeholder="" required>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-12 col-sm-6 d-flex flex-column p-3 m-0">
                        <span class="form-span">E-mail</span>
                        <input class="form-input mr-3 border-style-none" type="email" name="email"  placeholder="" required>
                    </div>
                    <div class="col-12 col-sm-6 d-flex flex-column p-3 m-0">
                        <span class="form-span">Senha</span>
                        <input class="form-input mr-3 border-style-none" type="password" name="password"  placeholder="" required>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-12 check-box d-flex flex-row align-items-center p-3">
                        <input class="mr-2" type="checkbox" required>
                        Aceito os Termos e condições e autorizo o uso de meus dados de acordo com a Declaração de privacidade.
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-3 d-flex flex-row align-items-center p-3">
                    <button class="btn btn-primary px-3" type="submit">Continuar</button>
                </div>
                <div class="col-9 d-flex flex-row align-items-center text-center p-3" style="color:#333333">
                    {{ message }}
                </div>
            </div>
        </form>
    </main>
{% endblock %}