{% extends "base.html" %}
{% block main_content %}
    {% load static %}
    {% include "includes/cookies/cookie1.html" %}
    <main class="carrinho d-flex align-items-center justify-content-center flex-column py-3">
        <div class="row pb-5">
            <h1 class="h2">CARRINHO DE COMPRAS</h1>
        </div>
        <div class="row col-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in carrinho %}
                    <tr>
                        <td>{{product.product.name}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.value}}</td>
                        <td><a href="/delete/sellProduct/{{product.pk}}" style="color:red"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <input class="col-6" type="text" name="productQuantity" placeholder="Digite o seu cartão">
            <a href="/finaliza" class="col-6 row justify-content-end"><button type="button" class="btn btn-success">Finalizar Compra</button></a>
        </div>
    </main>
{% endblock %}