{% extends "base.html" %}
{% block main_content %}
    {% load static %}
    {% include "includes/cookies/cookie1.html" %}
    <main class="product-page">
        <div class="container-fluid m-0">
            <div class="row">
                <div class="col-12 py-5 w-100 h-100 d-flex align-items-center justify-content-around">
                    <div class="col-2"></div>
                    <div class="col-8 w-100 h-100 p-0 m-0">
                        <div class="row p-0">
                            <div class="col-12 px-3 p-0 m-0">
                                <a href="/">Página Inicial</a> |
                            </div>
                        </div>
                        <div class="row p-0 m-0">
                            <div class="col-8 p-5 d-flex align-items-center justify-content-around img-product">
                                <img src="/static/custom/img/{{product.image}}" alt="logo-site">
                            </div>
                            <div class="col-4 p-3 info-product">
                                <div class="row p-0 m-0 d-flex align-items-center justify-content-around">
                                    <div class="col-10">
                                        <h3>{{product.name}}</h3>
                                    </div>
                                    <div class="col-2 heart">
                                        <i class="fas fa-heart"></i>
                                    </div>
                                </div>
                                <div class="row p-0 m-0">
                                    <div class="col-8">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="col-4">
                                        <p>10023 opiniões</p>
                                    </div>
                                </div>
                                <div class="row p-3 price">
                                    <div class="col-12 p-0 m-0">
                                        <h1>R$ {{product.price}}</h1>
                                        <h4>em 10x R${{productx10}} sem juros</h4>
                                        <p><a>ver meios de pagamento</a></p>
                                    </div>
                                </div>
                                <form class="row p-3" method="POST">
                                    {% csrf_token %}
                                    <div class="col-12 p-0">
                                        <p>Fornecedor: {{product.supplier.razao}}</p>
                                        <h4>Estoque Disponível: {{product.quantity}}</h4>
                                        <div class="d-flex align-items-center">
                                            <h3 class="p-3">Quantidade:</h3>
                                            <input class="col-3 h-50" type="number" value="1" name="productQuantity" min="1" max="{{product.quantity}}" placeholder="">
                                        </div>
                                        <div class=" buttons-buy d-flex flex-column align-items-center justify-content-around py-3">
                                            {% if product.quantity > 0 %}
                                                <button type="submit" class="btn btn-primary w-100 mb-2" name="cart_add">Comprar Agora</button>
                                                <button type="submit" class="btn btn-secondary w-100" name="cart_add">Adicionar ao carrinho</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
{% endblock %}