{% extends "base.html" %}
{% block main_content %}
    {% load static %}
    {% include "includes/modal/profile_add_ad.html" %}
    {% include "includes/modal/profile_add_card.html" %}
    {% include "includes/modal/profile_add_pro.html" %}
    <main class="profile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1 px-0 pr-4">
                    <div class="w-100 profile-nav d-flex flex-column align-items-center">
                        <a class="py-2 pt-5 d-flex flex-column align-items-center justify-content-center" href="/">
                            <i class="fas fa-2x fa-home"></i>
                            <p>Inicio</p>
                        </a>
                        <a class="py-2 d-flex flex-column align-items-center justify-content-center" href="#">
                            <i class="fas fa-2x fa-user"></i>
                            <p>Perfil</p>
                        </a>
                        {% if user.profile.role == '1' %}
                        <a class="py-2 d-flex flex-column align-items-center justify-content-center" href="/carrinho">
                            <i class="fas fa-2x fa-shopping-cart"></i>
                            <p>Carrinho</p>
                        </a>
                        {% endif %}
                        <a class="py-2 d-flex flex-column align-items-center justify-content-center" href="/history">
                            <i class="fas fa-2x fa-shopping-bag"></i>
                            <p>Histórico</p>
                        </a>
                    </div>
                </div>
                <form class="col container-fluid px-5 d-flex align-items-center justify-content-center flex-column py-3" method="POST">
                    {% csrf_token %}
                    {% if user.profile.role == '1' %}
                        <div class="row w-75 m-0 pb-4">
                            <h1>Meus Dados</h1>
                        </div>
                        <div class="row w-75 m-0">
                            <h2 class="h4">Dados da conta</h2>
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Email</h3>
                            <p class="col-6">{{client.email}}</p>                           
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Senha</h3>
                            <input class="col-6" type="password" value="{{client.password}}" name="password"  placeholder="" required>                            
                        </div>
                        <div class="row w-75 m-0 pt-4">
                            <h2 class="h4">Dados pessoais</h2>
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Primeiro Nome</h3>
                            <input class="col-6" type="text" value="{{client.first_name}}" name="first_name"  placeholder="" required>                            
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Ultimo Nome</h3>
                            <input class="col-6" type="text" value="{{client.last_name}}" name="last_name"  placeholder="" required>                            
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Documento</h3>
                            <input class="col-6" type="text" value="{{client.cpf}}" name="cpf"  placeholder="" required>                            
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Telefone</h3>
                            <input class="col-6" type="text" value="{{client.phone}}" name="phone"  placeholder="">                            
                        </div>
                        <div class="row w-75 m-0 pt-4">
                            <h2 class="h4">Cartões</h2>
                        </div>
                        {% for card in card_list %}
                            <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                                <img alt="marca-cartao col-2" src="{% static 'custom/img/mastercard.gif' %}" height="50px">
                                <div class="col-6 px-5">
                                    <h3 class="h5 m-0">Número: {{card.number}}</h3>
                                    <p class="m-0">{{card.flag}}</p>
                                    <p class="m-0">Vencimento: {{card.validation}}</p>
                                    <p class="m-0">Código de Segurança: {{card.security_code}}</p>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <a href="/delete/card/{{card.pk}}"><button type="button" class="btn btn-outline-danger m-2">Excluir</button></a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <div class="col d-flex justify-content-end">
                                <a href="#" data-toggle="modal" data-target=".profile-add-card">Adicionar Novo Cartão</a>
                            </div>
                        </div>
                        <div class="row w-75 m-0 pt-4">
                            <h2 class="h4">Endereços</h2>
                        </div>
                        {% for address in address_list %}
                            <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                                <h3 class="col-2 h5">Endereço{{address.pk}}</h3>
                                <div class="col-6 px-3">
                                    <h3 class="h5 m-0">{{address.street}}, {{address.number}}, {{address.complement}}</h3>
                                    <p class="m-0">{{address.city}}</p>
                                    <p class="m-0">{{address.state}}, {{address.country}}</p>
                                    <p class="m-0">{{address.cep}}</p>
                                </div>
                                <div class="col d-flex flex-column align-items-end">
                                    <a href="/delete/address/{{address.pk}}"><button type="button" class="btn btn-outline-danger m-2">Excluir</button></a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <div class="col d-flex justify-content-end">
                                <a href="#" data-toggle="modal" data-target=".profile-add-ad">Adicionar Novo Endereço</a>
                            </div>
                        </div>
                        <div class="row py-4 d-flex justify-content-end w-75">
                            <button type="submit" class="btn btn-primary" name="profile_save">Salvar Alterações</button>
                        </div>
                    {% else %}
                        <div class="row w-75 m-0 pb-4">
                            <h1>Meus Dados</h1>
                        </div>
                        <div class="row w-75 m-0">
                            <h2 class="h4">Dados do Fornecedor</h2>
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Email</h3>
                            <p class="col-6">{{supplier.email}}</p>                           
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Senha</h3>
                            <input class="col-6" type="password" value="{{supplier.password}}" name="password"  placeholder="" required>                            
                        </div>
                        <div class="row w-75 m-0 pt-4">
                            <h2 class="h4">Dados pessoais</h2>
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">CNPJ</h3>
                            <input class="col-6" type="text" value="{{supplier.cnpj}}" name="cnpj"  placeholder="" required>                            
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Razão</h3>
                            <input class="col-6" type="text" value="{{supplier.razao}}" name="razao"  placeholder="" required>                            
                        </div>
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <h3 class="col-3 h5">Telefone</h3>
                            <input class="col-6" type="text" value="{{supplier.phone}}" name="phone"  placeholder="">                            
                        </div>
                        <div class="row w-75 m-0 pt-4">
                            <h2 class="h4">Produtos</h2>
                        </div>
                        {% for product in product_list %}
                            <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                                <img alt="marca-cartao col-2" src="/static/custom/img/{{product.image}}" height="50px">
                                <div class="col-6 px-5">
                                    <h3 class="h5 m-0">Nome do Produto: {{product.name}}</h3>
                                    <p class="m-0">ID do Produto{{product.id_product}}</p>
                                    <p class="m-0">Preço: {{product.price}}</p>
                                    <p class="m-0">Quantidade: {{product.quantity}}</p>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <a href="/edit/{{product.pk}}"><button type="button" name="button-edit" class="btn btn-secondary m-2">Editar Produto</button></a>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <a href="/delete/product/{{product.pk}}"><button type="button" class="btn btn-outline-danger m-2">Excluir</button></a>
                                </div>
                                
                            </div>
                        {% endfor %}
                        <div class="row profile-bg w-75 m-0 border d-flex align-items-center px-2 py-2">
                            <div class="col d-flex justify-content-end">
                                <a href="#" data-toggle="modal" data-target=".profile-add-pro">Adicionar Novo Produto</a>
                            </div>
                            
                        </div>
                        <div class="row py-4 d-flex justify-content-end w-75">
                            <button type="submit" class="btn btn-primary" name="profile_save">Salvar Alterações</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}