{% load static %}

<div class="modal fade profile-add-pro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form class="p-5" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="productName">Nome do Produto:</label>
          <input type="text" class="form-control" name="productName"  aria-describedby="nameProduct" placeholder="" required>
        </div>
        <div class="row">
          <div class="form-group col-6">
            <label for="productId">Id do Produto</label>
            <input type="text" class="form-control" name="productId"  aria-describedby="productId" placeholder="" required> 
          </div>
          <div class="form-group col-3">
            <label for="productPrice">Preço do Produto</label>
            <input type="text" class="form-control" name="productPrice"  aria-describedby="productPrice" placeholder="" required>
          </div>
          <div class="col-3">
            <label for="">Categoria</label>
            <select class="custom-select" name="productCategory">
              <option value="comida">Alimentação</option>
              <option value="computador">Computador</option>
              <option value="livro">Livro</option>
              <option value="roupa">Roupa</option>
              <option value="movel">Movel</option>
              <option value="outros">Outros</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6">
              <label for="productImage">Imagem do Produto</label>
              <input type="file" class="form-control" name="productImage" aria-describedby="productImage" placeholder="" required>
          </div>
          <div class="form-group col-6">
            <label for="productImage">Quantidade de Produtos</label>
            <input type="number" class="form-control" name="productQuant" aria-describedby="productQuant" placeholder="" required>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" name ="profile_add_pro">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>