{% load static %}

<div class="modal fade profile-add-card" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <form class="p-5" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="cardNumber">Numero</label>
          <input type="text" class="form-control" name="cardNumber" id="cardNumber" aria-describedby="cardNumber" placeholder="Numero do seu cartão">
          <small id="cardNumber" class="form-text text-muted">Nós vamos cuidar bem do seu cartão, pode confiar.</small>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <label for="cardValidation">Validade</label>
            <input type="date" class="form-control" name="cardValidation" id="cardValidation" aria-describedby="cardValidation">
          </div>
          <div class="col-4">
            <label for="cardSecurity">Cod. Segurança</label>
            <input type="text" class="form-control" name="cardSecurity" id="cardSecurity" aria-describedby="cardSecurity" placeholder="123">
          </div>
          <div class="col-4 d-flex flex-column">
            <label for="cardFlag">Bandeira</label>
            <select class="custom-select" name="cardFlag">
              <option value="mastercard">Mastercard</option>
              <option value="elo">Elo</option>
              <option value="visa">Visa</option>
              <option value="carteirinha do ru">Carteirinha do RU</option>
              <option value="cielo">Cielo</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" name ="profile_add_card">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>