/* COOKIE */

.cookie{
    display: flex;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    .cookie p a{
        color: #FFFFFF;
        text-decoration: underline;
    }

        .cookie p a:hover{
            opacity: 0.6;
        }

/* HEADER */

.header{
    background-color: #fff159;
    width: 100%;
}

.header-descount{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.header-descount i{
    font-weight: bold;
}

.header-profile-nav{
    font-size: 14px;
}

.header-profile-nav a{
    text-decoration: none;
    color: black;
}

.list-style-none{
    list-style: none;
}

/* FOOTERS */

footer{
    background-color: white;
}

.line-footer{
    height: 90px;
    width: 1px;
    background-color: rgb(209, 208, 208);
}

.footer-nav a{
    text-decoration: none;
    font-size: 13px;
    color: #333333;
}

body{
    background-color: whitesmoke;
}
/* forms */
.cadastra h1{
    font-size: 150%;
}
.cadastra a{
    text-decoration: none;
}
.form{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.671);
}
    .form input{
        background-color: transparent;
        border-style: none;
        border-bottom: 1px solid rgb(199, 197, 197);
    }
    .form span{
        font-size: 80%;
        color: rgb(199, 197, 197);
    }
.check-box{
    font-size: 80%;
    color:rgb(199, 197, 197);
}
.btn{
    border-style: none;
    background-color: rgb(209, 205, 205);
    color: grey;
}
